.text-center{
    text-align: center;
}

.mx-auto{
    margin: auto;
}

.main-cont{
    background: #000;
}


.mt-10{
    margin-top: 10px;
}

.flex{
    display: flex;
}

.flex-col{
    display: flex;
    flex-direction: column;
}

.justify-center{
    justify-content: center;
}

.item-center{
    align-items: center;
}